@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --main-color: blue;
  --color-dark: purple;
  --text-grey: gray;

}

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}

.sidebar {
  height: 100%;
  width: 240px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  background: var(--main-color);
  color: yellow;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0rem 1rem;
}

.sidebar-menu {
  padding: 1rem;
}
.sidebar li {
  margin-bottom: 1rem;
}

.sidebar li a {}