@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --main-color: blue;
  --color-dark: purple;
  --text-grey: gray;

}

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}

.sidebar {
  height: 100%;
  width: 240px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  background: var(--main-color);
  color: yellow;
  overflow-y: auto;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0rem 1rem;
}

.sidebar-menu {
  padding: 1rem;
}
.sidebar li {
  margin-bottom: 1rem;
}

.sidebar a {
  color: red;
  font-size: .9rem;
}

.sidebar a span: :last-child{
  padding-left: .6rem;
}

.main-content {
  position: relative;
  margin-left: 240px;
}

header {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  background: black;
}
