body {
    margin: 0;
    padding: 0;
}

.slide {
/* NOTE vw stands for viewport */
    width: 100vw;
    height: 100vh;
}

/* NOTE layout of the inner wrapper to flex */
.wrapper {
    display: flex;
/* NOTE puts all the slides next to each other on a single line*/
    flex-direction: row;
    width: 400vw;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
}

.one {
    background-image: url(images/pexels-guillaume-meurice-2529179.jpg);
}

.two {
    background-image: url(images/pexels-pixabay-41949.jpg);
}

.three {
    background-image: url(images/yufeng-fei-UXwbhoONX3U-unsplash.jpg);
}

.four {
    background-image: url(images/pexels-guillaume-meurice-2529179.jpg);
}

.outer-wrapper {
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    scrollbar-width: none;
    -ms-overflow-style: none;
    /* FIXME touch screen */
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    scroll-snap-points-x: repeat(0px);
    scroll-snap-type: mandatory;
}

::-webkit-scrollbar {
    display: none;
}

.section-p {
    text-align: center;
    /* padding: 400px 80px; */
}

/* NOTE If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
    section {
      font-size: 80px;
    }
  }
  
  /* NOTE If the screen size is 600px wide or less, set the font-size of <div> to 30px */
  @media screen and (max-width: 600px) {
    section {
      font-size: 30px;
    }
  }

